<html layout:decorate="~{layout}">
	<div layout:fragment="content" class="container my-3">
		<table class="table">
			<thead class="table-dark">
				<tr class="text-center">
					<th>번호</th>
					<th style="width: 50%;">제목</th>
					<th>글쓴이</th>
					<th>조회수</th>
					<th>등록일</th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center" th:each="question , loop : ${questionList}">
					<td th:text="${loop.count}"></td> <!-- 질문 글 번호 -->
					<td class="text-start"> <!-- 제목 줄 왼쪽 정렬 -->
						<!-- 자바 객체의 값을 더할 때는 반드시 ||로 좌우를 감싼다. -->
						<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">제목</a>
					</td>
					<td> 
						<span th:if="${question.author != null}" th:text="${question.author.username}"></span> 
					</td>
					<!-- 조회수 자리 -->
					<td><span th:text="${question.hit}"></span></td>
					<td th:text="${#temporals.format(question.createdate,'yyyy-MM-dd HH:mm')}">등록일</td>
				</tr>
			</tbody>	
		</table>
		<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
	</div>
</html>